process {
    withName: FASTQC {
        publishDir = [
            [
                path: {"${params.outdir}/fastqc/${sample}"},
                mode: "copy",
                pattern: "*_fastqc.{zip,html}"
            ]
        ]
    }
    withName: MULTIQC {
        publishDir = [
            [
                path:{"${params.outdir}/multiqc"},
                mode: "copy",
                pattern: "multiqc_report.html"
            ]
        ]
    }
}